%h1
  = h @question.text
%ul.actions
  %li
    =link_to "Edytuj pytanie", edit_question_path(@question)
  %li
    =link_to "Usuń pytanie", question_path(@question), :method => :delete, :confirm => 'Czy chcesz usunąć pytanie?'
%h2 
  Odpowiedzi
%ul.question_answers_list
  - @question.answers.each do |answer|
    %li{:class => answer.correct ? "correct" : ""}
      = h answer.text
