%h1
  = h @test.name
%ul.actions
  %li
    =link_to "Edytuj test", edit_school_test_path(@test)
%h2 
  Kategorie
%dl.categories_list
  - @test.test_categories.each do |test_category|
    %dt
      =h test_category.category.name
    %dd
      =h test_category.number
