%h1
  =h @user.name
  =h @user.lastname

%ul.actions
  %li
    =link_to "Edytuj użytkownika", edit_user_path(@user)
  %li
    =link_to "Zobacz testy", user_school_tests_path(@user)
  %li
    =link_to "Zobacz kategorie", user_categories_path(@user)

%p
  Email:
  %b
    =h @user.email
%p
  Tytuł:
  %b
    =h @user.title
%p
  Jednostka organizacyjna:
  %b
    =h @user.department

