#teacher
  %h1
    Nauczyciel
  =render :partial => "user_sessions/form", :locals => {:user_session => @user_session}
#student
  %h1
    Student
  %p
    =link_to "Napisz test", new_school_test_session_path
