%h1
  =h @category.name

%ul.actions
  %li
    =link_to "Dodaj pytanie", new_category_question_path(@category)
  %li
    =link_to "Edytuj kategorię", edit_category_path(@category)

%h2
  Lista pytań

%ul
  - @category.questions.each do |question|
    %li
      =h question.text

