%h1
  =h @category.name

%ul.actions
  %li
    =link_to "Add Question", new_category_question_path(@category)
  %li
    =link_to "Edit Category", edit_category_path(@category)

%h2
  Questions listing

%ul
  - @category.questions.each do |question|
    %li
      =h question.text

